body {
    margin: 0;
    padding: 0;
    background:#4cd3ba;
}

nav {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    background:white;
}

ul {
    margin: 0 ;
    padding: 0;

}

ul li {
    margin-left: auto;
    margin-right: auto;
    display: inline;
    padding: 0 20px;
   

    
}
h2{
    position: fixed;
    top:50%;
    right:80%;
    padding-bottom: 3px;
    border-bottom: 10px solid white; 
}
ol{

    list-style: none;
    float: right;
    padding: 0 10px;
    position: fixed;
    top:30%;
    left:90%;
    font-size:30px;

}
a{
    text-decoration: none;
}
header{

    background: white;
    height: 70px;
}
.nav-item{
    padding-bottom: 3px;
    border-bottom: 5px solid  lightgrey;

}
ol li{
    color: white;
}
ol li:hover{
    color: black;

}

